@keyframes myfirst {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(20deg);
  }
}
.call .list li {
  padding: 20px;
  border-bottom: 1px solid #cccccc;
}
.call .list li .name {
  color: #26709a;
  font-size: 16px;
}
.call .list li .content {
  min-height: 50px;
}
.call .list li .time {
  text-align: right;
}
.call .msg {
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 20px;
  animation: myfirst 0.2s infinite alternate;
}
.call .msg i {
  font-size: 50px;
}
.call .msg:hover {
  color: #26709a;
}
