.topAndBottom .header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  background: #1f1f1f;
  color: #fff;
}
.topAndBottom .header .content {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topAndBottom .header .logo i {
  font-size: 40px;
}
.topAndBottom .header .logo .iconhouzi {
  display: none;
}
.topAndBottom .header .logo .iconcaidan {
  display: none;
}
@media screen and (max-width: 375px) {
  .topAndBottom .header .logo .iconcaidan {
    display: block;
    font-size: 30px;
  }
}
@media screen and (min-width: 376px) {
  .topAndBottom .header .logo .iconhouzi {
    display: block;
  }
}
.topAndBottom .header .right {
  display: flex;
  align-items: center;
}
.topAndBottom .header .right .search {
  margin-right: 20px;
}
@media screen and (max-width: 375px) {
  .topAndBottom .header .right .search {
    display: none;
  }
}
.topAndBottom .header .right .info {
  margin-right: 10px;
}
.topAndBottom .header .right .out {
  cursor: pointer;
}
.topAndBottom .header .right .out i {
  font-size: 20px;
}
.topAndBottom .header .right .out i:hover {
  color: yellow;
}
.topAndBottom .banner {
  background-image: url("./img/banner.jpg");
  background-size: auto 100%;
  background-position: top center;
}
.topAndBottom .banner .banner-content {
  position: relative;
  height: 250px;
}
.topAndBottom .banner .banner-content h3 {
  padding-left: 50px;
  padding-top: 50px;
  color: #fff;
  font-size: 30px;
}
@media screen and (max-width: 350px) {
  .topAndBottom .banner .banner-content h3 {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .topAndBottom .banner .banner-content {
    height: 150px;
  }
}
.topAndBottom .banner .bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
}
.topAndBottom .banner .bottom i {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
.topAndBottom .banner .banner-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
}
.topAndBottom .banner .banner-list li {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #ccc;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}
.topAndBottom .banner .banner-list a.current li {
  color: #fff;
}
.topAndBottom .banner .banner-list a.current li::after {
  left: 0;
  bottom: 0;
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  background: red;
  width: calc(100%);
  border-radius: 5px;
}
@media screen and (max-width: 375px) {
  .topAndBottom .banner .banner-list {
    display: none;
  }
}
